body, html {
  height: 100%;
}

body {
	background-color: #000;
}

.homepage {
	padding-top: 3rem;
	position: relative;
}

.homepage .badge {
	font-weight: normal;
}

/* .bg {
	background: url("../images/danelson-rosa.jpeg");
} */

h1#dr-name-display {
	font-family: 'Bevan', cursive;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.display-1 {
		font-size: 3rem;
		line-height: 1.0;
	}

	.display-2 {
		font-size: 2.75rem;
		line-height: 1.0;
	}

	.display-3 {
		font-size: 3rem;
		line-height: 1.0;
	}

	h1#dr-name-display {
		padding-top: 16rem;
	}

	.display-4 {
		font-size: 3rem;
		line-height: 1.2;
	}

	.homepage {
		padding-top: 0rem;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.display-1 {
		font-size: 3rem;
		line-height: 1.0;
	}

	.display-2 {
		font-size: 2.75rem;
		line-height: 1.0;
	}

	.display-3 {
		font-size: 3.1rem;
		line-height: 1.0;
	}

	h1#dr-name-display {
		padding-top: 16rem;
	}

	.display-4 {
		font-size: 3rem;
		line-height: 1.2;
	}

	.homepage {
		padding-top: 0rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768.98px) and (max-width: 999.98px) {
	.display-3 {
		font-size: 3.5rem;
		line-height: 1.2;
	}

	h1#dr-name-display {
		padding-top: 5rem;
	}
}
