body, html {
  height: 100%;
}

body {
	background-color: #000;
}

.starter-template {
	padding-top: 3rem;
}

.bg {
	background-image: url("../images/danelson-rosa-2.jpeg");
	background-color: #000;
  height: 100%;
	background-position: center;
	background-size: cover;
}

h1#dr-name-display {
	font-family: 'Bevan', cursive;
}

@media (max-width: 575.98px) {
	.display-1 {
		font-size: 3rem;
		font-weight: 300;
		line-height: 1.0;
	}

	.display-2 {
		font-size: 2.75rem;
		font-weight: 300;
		line-height: 1.0;
	}

	.display-3 {
		font-size: 3rem;
		font-weight: 300;
		line-height: 1.0;
	}

	h1#dr-name-display {
		padding-top: 16rem;
	}

	.display-4 {
		font-size: 3rem;
		font-weight: 300;
		line-height: 1.2;
	}

	.starter-template {
		padding-top: 0rem;	
	}
}
