body, html {
  height: 100%;
}

.dr-name-display {
	font-family: 'Bevan', cursive;
}

.bg-img-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  height: 50%;
  margin-top: 3.5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}
