---
layout: page
title: Peak into my world and learn a little about me.
description: This is a story all about how...; peak into my world and learn a little bit about me.
keywords: danelson rosa about me life bronx dominican freelancer drone web development hire
header: About
header-emoji: bust-in-silhouette
---
<div class="pt-3 text-center bg-secondary">
  <div class="row no-gutters">
    <div class="col-8 offset-2">
      <p class="text-center">
        {% include emoji.html name="point-down" %}
        these are not in any particular order
        {% include emoji.html name="point-down" %}
      </p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 text-center bg-light">
      <h2>
        {% include emoji.html name="dominican-flag" %}
        {% include emoji.html name="statue-of-liberty" %}
        {% include emoji.html name="the-human-bronx" %}
      </h2>
      <p>
        My parents came to the U.S. before their 20s from the Dominican
        Republic.
        I'm a native New Yorker from the Bronx &mdash; all day every day. I'm
        the youngest of four; I remember when I used
        sit next to any sibling in the back of the car and pretend like they
        were hitting me so that my parents could yell at them
        {% include emoji.html name="rofl" %}.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <h2>
        {% include emoji.html name="briefcase" %}
        {% include emoji.html name="money-with-wings" %}
      </h2>
      <p>
        I've worked on Wall Street, created a literacy startup, did web
        development freelancing, taught code and science to
        middle schoolers in a charter school and Information Systems to high
        schoolers in the Middle East. Nowadays I'm at
        <a href="http://ad60.com/"
           title="Create your next app/product/service with AD:60">
          AD:60
        </a>
        and working towards making the
        <a href="http://harlemspellingbee.com/" title="Harlem Spelling Bee">
          Harlem Spelling Bee
        </a>
        a smashing success.
      </p>
    </div>
    <div class="col-md-4 text-center bg-light">
      <h2>
        {% include emoji.html name="arm" %}
        {% include emoji.html name="weight-lifting-man" %}
      </h2>
      <p>
        Racquetball and buggy (a sport that CMU made up back in 1920) were my
        things in college. Nowadays I hit the gym and run to push myself
        physically and clear my mind.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>
        {% include emoji.html name="nerd-face" %}
        {% include emoji.html name="books" %}
      </h2>
      <p>
        I went to high school in the South Bronx at All Hallows, which is a
        few blocks away from Yankee Stadium. Then I skipped town to graduate
        from Carnegie Mellon University in Pittsburgh, PA, where I majored in
        Information Systems.
      </p>
    </div>
    <div class="col-md-4 text-center bg-light">
      <h2>
        {% include emoji.html name="thinking" %}
        {% include emoji.html name="mantelpiece-clock" %}
      </h2>
      <p>
        I love the game of chess and used to often compete in local and national
        tournaments. I won first place in the Under 1700 section in Boston once
        and more recently fifth place in that same section at the 2018
        Chess-in-the-Schools Chess-in-the-Park rapid tournament.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <h2>
        {% include emoji.html name="scroll" %}
        {% include emoji.html name="gem" %}
        {% include emoji.html name="red-diamond" %}
      </h2>
      <p>
        I'm a NUPE from the Beta Epsilon chapter of Kappa Alpha Psi, Inc.
        What fond college days...
        YO!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center bg-light">
      <h2>
        {% include emoji.html name="dart" %}
        {% include emoji.html name="moneybag" %}
        {% include emoji.html name="houses" %}
      </h2>
      <p>
        I love creating goals, especially the kinds that are crazy and concrete.
        Being able to retire in the next decade if I really wanted to, creating
        a spelling bee competition that's "bigger" than the Scripps National
        Spelling Bee, reading one book every week, and investing in multiple
        propterties also in the next decade are some of these goals. Check out
        some other ones here.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <h2>
        {% include emoji.html name="page-with-curl" %}
        {% include emoji.html name="writing-hand" %}
      </h2>
      <p>
        I enjoy blogging on topics like web development (creating websites and
        web apps), entrepreneurship, the books I've read and recommend, and
        life in general. Future topics will include real estate investing.
      </p>
    </div>
    <div class="col-md-4 text-center bg-light">
      <h2>
        {% include emoji.html name="helicopter" %}
      </h2>
      <p>
        I capture {% include emoji.html name="fire" %} photos and videos from
        above with my drone.
        <a href="/services/drone.html"
           title="Learn more about my drone experiences.">
          See for yourself!
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>
        {% include emoji.html name="apple" %}
        {% include emoji.html name="red-heart" %}
        {% include emoji.html name="blue-heart" %}
        {% include emoji.html name="rose" %}
        {% include emoji.html name="robot" %}
      </h2>
      <p>
        The one you end up being with could very well be right in front of your
        eyes. #comapugsley #43
      </p>
    </div>
    <div class="col-md-4 text-center">
      <h2>
        {% include emoji.html name="bulb" %}
        {% include emoji.html name="calling" %}
        {% include emoji.html name="computer" %}
      </h2>
      <p>
        I love partnering with ambitious clients to develop their ideas into a
        real, live website or web application. Believing that it has the
        potential to make a huge impact on their users/customers, I want these
        projects to succeed as much as my clients do.
      </p>
    </div>
  </div>
</div>

{% include footer.html %}
