<footer class="container text-center text-muted">
  <p>
    &copy; DanelsonRosa.com 2014-2018
    <br>
    <a href="/services.html" class="text-muted">
      <span class="ec ec-briefcase"></span>
      Services <span class="sr-only">(current)</span>
    </a>
    |
    <a href="/blog.html" class="text-muted">
      <span class="ec ec-memo"></span>
      Blog <span class="sr-only">(current)</span>
    </a>
    |
    <a href="/about.html" class="text-muted">
      <span class="ec ec-bust-in-silhouette"></span>
      About
    </a>
    <br>
    hello@danelsonrosa.com
  </p>
</footer>
