<footer class="container text-center text-muted">
  <p>
    &copy; DanelsonRosa.com 2014-2018
    <br>
    <a href="/services.html" class="text-muted">
      Services <span class="sr-only">(current)</span>
    </a>
    |
    <a href="/blog.html" class="text-muted">
      Blog <span class="sr-only">(current)</span>
    </a>
    |
    <a href="/about.html" class="text-muted">
      About
    </a>
    <br>
    <a href="javascript:;"
       onclick="ml_account('webforms', '1047328', 'z9n1a5', 'show')"
       class="text-muted">
      Subscribe for the latest posts and updates!
    </a>
    <br>
    e: hello@danelsonrosa.com (responses within 24 hours!)
    <br>
  </p>

</footer>
