<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta name="author" content="Danelson Rosa">
	<meta name="webmaster" content="Danelson Rosa">
	<link rel="icon" href="/images/favicon.ico">

	<title>
		{% if page.url == "/" %}
			{{ page.title }}
		{% else %}
			{{ page.title }} | Danelson Rosa
		{% endif %}
	</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/custom.css">
	{% if page.url == "/" %}
		<link rel="stylesheet" href="/css/homepage.css">
	{% endif %}
	<link rel="stylesheet" href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bevan">
</head>
