:root {
  --jumbotron-padding-y: 10rem;
}

.jumbotron {
  background-color: #5C000A;
  padding-top: var(--jumbotron-padding-y);
  margin-bottom: 0;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  color: #E8B827;
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron .lead {
  opacity: .4;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.navbar-brand {
	font-size: 24px;
}

.navbar-brand img {
	position: absolute;
}

.navbar-dark {
	background: #5C000A !important;
}

.navbar-dark span {
	color: #5C000A;
}

.dropdown-item.active {
	background-color: #E8B827 !important;
  color: #000;
}
