---
layout: page
title: Create your website or web application and share it with the world. I want it to succeed as much as you do.
description: I love creating new websites/web apps for clients who have never had one before and also revamping existing ones to modernize and improve the user experience.
keywords: danelson rosa developer software engineer freelancer web development hire partner consultant
header: Services
header-emoji: briefcase
---
<div class="container mt-3">
  <div class="row">
    {% assign projects = site.portfolio | sort: "rank"  %}
    {% for project in projects %}
    <div class="col-md-8 offset-md-2 pt-5 pb-5">
      <div class="card">
        <img class="card-img-top"
        src="/images/portfolio/{{ project.img_src }}"
        alt="{{ project.img_alt }}">
        <div class="card-body">
          <p class="card-text">
            <ul class="fa-ul">
              <li>
                <span class="fa-li">
                  <i class="fas fa-info-circle"></i>
                </span>
                {{ project.description }}
              </li>
              {% if project.quote %}
                <li>
                  <span class="fa-li">
                    <i class="fas fa-quote-left"></i>
                  </span>
                  {{ project.quote }}
                  <br>
                  <span class="text-secondary">{{ project.cite }}</span>
                </li>
              {% endif %}
            </ul>
          </p>
        </div>
        <div class="card-footer bg-dark">
          {% include services_call_to_action.html
                     message="bring your idea to life"
                     email="webdev@danelsonrosa.com"
          %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
