h1 {
	margin-bottom: 2rem;
}

h2, h3 {
	margin-bottom: 1rem;
}

nav a {
	color: #7030A0;
	font-weight: 600;
}

.navbar-brand {
	color: #FFC000;
	font-weight: bold;
}

.sw-yellow {
	color: #FFC000;
}

.sw-purple {
	color: #7030A0;
}

.herculanum {
	font-family: "herculanum";
}
